/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

*, ion-label, ion-button {
    font-family: 'Jost',sans-serif !important;
}

ion-button {
  text-transform: capitalize;
}
  .container-fluid {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    text-align: center;
    position: relative;
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 700;
    color: #222;
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
  }
  
  .section-title::before,
  .section-title::after {
    content: "";
    position: absolute;
    top: 120%;
    height: 1.5px;
    width: 90px;
  }
  
  .section-title::before {
    left: calc(50% - 90px);
    background: linear-gradient(to right, transparent, #a01);
  }
  
  .section-title::after {
    right: calc(50% - 90px);
    background: linear-gradient(to left, transparent, #a01);
  }
  
  /* Optional: animation */
  .section-title {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.6s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive adjustment */
  @media (max-width: 576px) {
    .section-title::before,
    .section-title::after {
      width: 50px;
    }
  
    .section-title::before {
      left: calc(50% - 60px);
    }
  
    .section-title::after {
      right: calc(50% - 60px);
    }
  }

  ion-accordion::part(indicator) {
    display: none !important;
  }
  
/* Chrome, Safari, Edge, Opera */
.no-spinner input::-webkit-outer-spin-button,
.no-spinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-spinner input[type=number] {
  -moz-appearance: textfield;
}