.footer-wrapper {
  padding: 3rem 1rem;
  background-color: #dfdfdf;
}

.footer-container h5,
.footer-container h6 {
  margin-bottom: 0.8rem;
  font-size: 22px;
}

.footer-container p {
  font-size: 14px;
  color: #333;
}

.footer-container ul {
  list-style: none;
  padding-left: 0;
}

.footer-container ul li {
  font-size: 14px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-container .socials li {
  display: inline-block;
  margin-right: 15px;
}
